.wallet-container {
  width: 90%;
  height: 80%;
  position: relative;
  top: 2.5%;
  background-color: white;
  padding: 1em;

  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.wallet-container-mini {
  width: 100%;
  height: 100%;
  top: 2.5%;
  background-color: white;
  padding: 4%;

  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assets-container {
  display: flex;
  width: 100%;
  height: 10%;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.assets-container-mini {
  height: 100%;
  align-items: center;
  width: 100%;
}

.charts-container {
  width: 100%;
  display: flex;
}

.wallet-header {
  display: flex;
  position: relative;
  width: 98%;
  height: 10%;
  left: 2%;
  top: 2%;
}

.greeting-label {
  margin: 0;
}
.mini-greeting-label {
  text-align: left;
  width: 100%;
  font-size: 1em;
}

.mini-estimated-label {
  text-align: right;
  width: 100%;
}

.estimated-label {
  position: relative;
  top: 30px;
  right: 40px;
}

.assets-label {
  margin-bottom: 0;
}

.assets-label-mini {
  /* margin: 0; */
  font-size: 1em;
}

.history-container {
  position: relative;
  top: 30%;
  height: 50%;
  width: 100%;
}

.history-label {
  margin: 0;
  height: 10%;
}

div.wallet-history-grid {
  height: 90%;
}

.tooltip {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  border: 0.1em solid rgba(0 0 0 / 100%);
  padding: 0.5em;
}

div.mini-wallet-asset-grid {
  height: 90%;
  width: 100%;
}
