.home-page {
  width: 50%;
  height: 20%;
  z-index: 2;
  background-color: white;
  padding: 1em;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 5px 3px rgba(0 0 0 / 20%), 3px 3px 7px rgba(0 0 0 / 15%),
    0px 0px 4px rgba(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.greeting {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 26px;
}

p.greeting-p {
  font-size: 20px;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button.home-control-btn {
  min-width: 20%;
  font-size: 1.2em;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
